/* src/components/Hero.css */
.hero-container {
  width: 1520px;
  height: 350px;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
}

.hero-slider {
  width: 1520px;
  height: 350px;
  position: relative;
}

.hero-image {
  width: 1520px;
  height: 350px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background: none; /* Removed black overlay */
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
}

.arrow.left {
  left: 50px;
}

.arrow.right {
  right: 50px;
}


.hero-content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.hero-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.get-started-btn {
  padding: 8px 20px;
  background-color: #00aaff;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: #0077cc;
}
@media screen and (max-width: 768px) {
  .hero-container,
  .hero-slider
   {
    width: 100%;              /* Make it responsive */
    height: 150px;             /* Adjust height automatically */
    border-radius: 8px;       /* Optional: Slightly smaller radius */
  }

  .hero-image {
    object-fit: cover;        /* Keeps aspect ratio */
    height: 150px;
    width: 100%;
  }
  .hero-content h2{
    font-size: 15px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-container,
  .hero-slider,
  .hero-image {
    width: 100%;              /* Make it responsive */
    height: 150px;             /* Adjust height automatically */
    border-radius: 8px;       /* Optional: Slightly smaller radius */
  }

  .hero-image {
    object-fit: cover;        /* Keeps aspect ratio */
    height: 150px;
  }
  .hero-content h2{
    font-size: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .hero-container,
  .hero-slider
   {
    width: 100%;              /* Make it responsive */
    height: 350px;             /* Adjust height automatically */
    border-radius: 8px;       /* Optional: Slightly smaller radius */
  }

  .hero-image {
    object-fit: cover;        /* Keeps aspect ratio */
    height: 350px;
    width: 100%;
  }
  .hero-content h2{
    font-size: 15px;
  }
}